<mat-nav-list>
    <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="navegation-list-label">Home</span>
    </a>
    <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/login">
        <mat-icon>login</mat-icon>
        <span class="navegation-list-label">Inicio Sesión</span>
    </a>
    <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/registration">
        <mat-icon>how_to_register</mat-icon>
        <span class="navegation-list-label">Registrar</span>
    </a>
    <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="persona/nuevo">
        <mat-icon>add</mat-icon>
        <span class="navegation-list-label">Nueva Persona</span>
    </a>
    <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="persona/list">
        <mat-icon>add</mat-icon>
        <span class="navegation-list-label">Personas</span>
    </a>
    <a *ngIf="isAuthorized" mat-list-item (click)="onSingOut()" (click)="closeMenu()">
        <mat-icon>logout</mat-icon>
        <span class="navegation-list-label">Salir Sesión</span>
    </a>
</mat-nav-list>